@use '../styles/base' as *;

.container {
  width: min(100% - 3rem, 120rem);
  margin: 0 auto;
  padding: 1.5rem 0 3rem 0;
  display: grid;
  grid-template-rows: 15rem 1fr;

  .header {
    align-self: center;

    & > .title {
      @include heading;
    }

    input {
      @include body-small-regular;

      width: 100%;
      max-width: 38.4rem;
      padding: 0.8rem 1.6rem;
      border-radius: 2rem;
      border: 1px solid $black;
      outline: 1px solid $yellow;
    }
  }

  main {
    section {
      .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(38.4rem, 1fr));
        gap: 1.6rem;

        li {
          list-style: none;

          &.card article {
            display: grid;
            gap: 2.4rem;
            padding: 2.4rem;
            border-radius: 2rem;
            border: 1px solid $black;
            background-color: $pure-white;
            box-shadow: 0.5rem 0.5rem 0rem 0rem $black;

            img {
              width: 100%;
              border-radius: 1rem;
            }

            .content {
              display: grid;
              gap: 1.2rem;

              .category {
                @include body-small-bold;
                background-color: $yellow;

                &.html {
                  @include body-small-bold($color: $pure-white);
                  background-color: $orange;
                }

                &.sass {
                  @include body-small-bold($color: $pure-white);
                  background-color: $pink;
                }

                &.typescript {
                  @include body-small-bold($color: $pure-white);
                  background-color: $blue;
                }

                max-width: 8.2rem;
                padding: 0.4rem 0.8rem;
                border-radius: 0.4rem;
              }

              .date {
                @include body-small-regular;
              }

              .title {
                @include heading;
              }

              .description {
                @include body-medium($color: $grey);
              }
            }

            .author {
              display: flex;
              gap: 1.6rem;

              img {
                width: 3.2rem;
                height: 3.2rem;
              }

              & > .title {
                @include body-small-bold;
              }
            }
          }

          &.card {
            &.card-not-found {
              display: none;

              h2 {
                @include heading;
              }

              p {
                @include body-small-regular;
              }

              ul {
                margin: 0.8rem;

                li {
                  list-style: inside;
                  @include body-small-regular;
                }
              }
            }
          }
        }
      }
    }
  }
}
